$primaryTeal : #26aba3;
$primaryLightTeal : #c1e3de;
$primaryMoreLightTeal : #f4fcfa;

$SecandaryYellow : #f7ab1e;
$SecandaryLightYellow : #fef3de;

$gray : #51565d;
$LightGray : #51565d;
$darkGray : #293039;

$lightWhite : #e0e4e8;
$white : #ffffff;

$black : #000000;