/* medium layout : 1200px */
@media only screen and (min-width: 992px) and (max-width: 1200px) {
}

/* Tablet layout : 768px */
@media only screen and (min-width: 768px) and (max-width: 991px) {
}

/* Mobile Layout: 320px */
@media only screen and (max-width: 767px) {
}

/* wide mobile layout: 480 */
@media only screen and (min-width: 480px) and (max-width: 767px) {
  body {
    width: 80%;
  }
  .service-header {
    margin-top: 50%;
    text-align: center;
  }
  .service-header h3 {
    font-size: 4vw;
    line-height: 10vw;
  }
  .section-items {
    flex-direction: column;
  }

  .section-item {
    height: 25vh;
    width: 80vw;
  }

  .sections-items-2 {
    width: 80vw;
  }
}
