/* 1600x992px -> Desktop*/
@media only screen and (min-width: 1280px) and (max-width: 1600px) {
}

/* 1280x991px -> laptop*/
@media only screen and (min-width: 1025px) and (max-width: 1280px) {
  .container {
    width: 97%;
  }
  .service__lists .service__item {
    padding: 10px;
  }
}

/* 768x1024px -> Tablet*/
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .container {
    max-width: 95%;
  }
  .menu {
    flex-direction: column;
    gap: 20px;
  }
  .logo__area .logos {
    flex-wrap: wrap;
    border: 2px solid red;
  }
  .logo__area .logos img {
    max-width: 100%;
    height: 100%;
  }

  .service__lists {
    flex-wrap: wrap;
  }
  .service__lists .service__item {
    width: 47%;
  }
}

/* Mobile Layout: 320px */
@media only screen and (max-width: 768px) {
  .container {
    width: 95%;
  }
  .menu {
    flex-direction: column;
    gap: 20px;
  }
  .service__lists {
    flex-wrap: wrap;
  }
  .service__lists .service__item {
    width: 47%;
  }
}

@media only screen and (max-width: 767px) and (min-width: 320px) {
  .container {
    width: 90%;
  }
  .menu__left {
    flex-direction: column;
    gap: 20px;
  }

  .hero__title h2 {
    font-size: 26px;
  }
  .menu__left .menu__left--email a {
    font-size: 14px;
    display: contents;
  }
  .menu__left .menu__left--email button,
  .menu__left--cv button {
    background-color: #fff;
    padding: 10px 20px;
    margin-top: 10px;
  }
  .menu__left .menu__left--email {
    text-align: center;
    padding: 10px;
    border-radius: 5px;
  }
  .menu__left--cv {
    display: none;
  }
  .menu__right {
    text-align: center;
  }
  .menu__right a {
    font-size: 12px;
    font-weight: 600;
  }
  .logo__area .logos {
    flex-wrap: wrap;
  }
  .logo__area .logos img {
    max-width: 38%;
    height: 100%;
    margin: 10px;
  }
  .service__title h3 {
    font-size: 20px;
  }
  .service__btn::after,
  .service__btn::before {
    display: inline-block;
    content: "";
    border-top: 0.2rem solid #242424;
    width: 0%;
    margin: 0 1rem;
  }

  .service__lists {
    flex-wrap: wrap;
  }
  .service__lists .service__item {
    width: 100%;
    padding: 5px;
  }
  .contact__info h3 {
    font-size: 30px;
  }
  .contact__info .contact__btn a {
    padding: 10px 20px;
    font-size: 16px;
  }
  .contact__info .contact__btn {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
  }
  .footer__bottom {
    flex-direction: column;
    text-align: center;
    gap: 20px;
  }

  .footer__right a {
    font-size: 16px;
    font-weight: 500;
  }
}
